.mobile-header {
  height: 10vh;
  width: 100%;

  nav {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    i {
      cursor: pointer;
      font-size: 30px;
    }
  }
}
